section{
    background-color: aquamarine;
    width: 100px;
    height: 100px;
    margin: 10px;
}
main{
    display: flex;
    flex-wrap: wrap;
}
.dos-columnas{
    display: flex;
    flex-direction: column-reverse;

}
footer>div{
    width: 25%;
    border: 2px black solid;
    margin: 10px;
    background-color: bisque;
}
footer{
    display: flex;
    justify-content: center;
    
}